@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Open Sans", sans-serif;
  font-size: small;
}

.pure-form input[type="color"] {
  padding: 0;
}

.content {
  width: 100%;
  display: flex;
}

.content > div {
  margin: 10px;
}

#main_svg {
  background: #f8f8f8;
  display: table-cell;
  /* margin: 0; */
  padding: 0;
}

ul#waypoints {
  /* list-style-type: none; */
  list-style-type: decimal-leading-zero;
  font-family: "Source Code Pro", monospace;
}

table#waypoints {
  font-size: smaller;
}

.custom-restricted {
  height: 160px;
  width: 150px;
  border: 1px solid lightgray;
}

.custom-restricted li.active {
  background-color: #eeeeee;
  color: #006bd6;
}

.custom-restricted li:hover {
  background-color: lightgray;
}





/* Bezier styles */

.ctrlpt {
  stroke: #006bd6;
  /* stroke-opacity: 0.2; */
  fill: white;
  /* fill: #006bd6; */
  r: 4;
  cursor: pointer;
}

/*
.START {
  stroke: red;
}

.END {
  stroke: orange;
}

.TANGENT {
  stroke: green;
}

.CORNER {
  stroke: #006bd6;
}
*/

.guides {
  stroke: #006bd6;
  stroke-opacity: 0.5;
  stroke-width: 1;
  fill: none;
  stroke-dasharray: 4, 2;
}

.guides.hidden, .ctrlpt.hidden {
  display: none;
}

path.bezier {
  fill: none;
  stroke: gray;
  /* stroke: #006bd6; */
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
}

circle text {
  stroke: black;
  fill: black;
}
